
@font-face {
    font-family: "Bruno";
    src: url(fontes/BrunoAceSC-Regular.ttf);
}
@font-face {
    font-family: "kdam thmor pro";
    src: url(fontes/KdamThmorPro-Regular.ttf);
}

:root {
    --rosa-hiddencode: #fe1064;
}

/* Reset de CSS - Limpa configurações padrão que atrapalham */
* {
    padding: 0;
    box-sizing: border-box;

    margin: 0;
}

html {
    scroll-behavior: smooth;

}



.container-grid {
    height: 100vh;
    width: 1400px;

    
    margin: 0 0px;
}

header {
    height: 165px;
}

header div.container-grid {
    width: 100%;
    height: 100%;
    
    display: flex;

    align-items: center;
    justify-content: center;
}

img {
    /* padding: 0px 80px; */
}

.menu {
    width: 66.79%;

    display: flex;
    justify-content: space-between;
}


.menu a {
    font-family: 'Bruno';
    font-size: 24px;
    background-color:var(--rosa-hiddencode);
    color: white;


    text-decoration: none;

    border-radius: 28px;

    padding-inline: 20px ;
    padding-block: 10px;

    margin-left:20;
}


.conteudo-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.elemento-1 {
    background-image: url(imagens/elementos-esquerda-1.png),url(imagens/elementos-direita-1.png);
    background-repeat: no-repeat;
    background-size: 27%, 27%;
    background-position: left, right;
    background-position-y: 45%, 0%;
}

.elemento-2 {
    background-image: url(imagens/elementos-esquerda-2.png),url(imagens/elementos-direita-2.png);
    background-repeat: no-repeat;
    background-size: 37%,47%;
    background-position-y: 25%, 44%;
    background-position-x: -3%,100%;
}

.elemento-3 {
    background-image: url(imagens/elementos-esquerda-3.png),url(imagens/elementos-direita-3.png);
    background-repeat: no-repeat;
    background-size: 67%, 21%;
    background-position: -13%, right;
    background-position-y: 35%, 9%;
}

.logotipo {
    display: flex;
    justify-content: center;
}

.logotipo img {
    padding: 80px;
    display: flex;
}

.sobre {
    width: 100%;
    display: flex;
    text-align: center;
    margin: 0px 0px 200px;
    justify-content: center;
}

.sobre p {
    display: flex;
    font-family: 'Bruno';
    width: 44.5%;
    font-size: 24px;
    text-align: left;
    justify-content: space-evenly;
}


.cases-da-empresa {
    display: flex;
    justify-content: center;
    margin: 0px 40px;
    background: #f5f5f7;
}

h2 {
    font-family: 'Bruno';
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px;
    margin: 80px 0px 0px 0px;
    width: 100%;
}

.caixa-dos-cases {
    display: flex;
    color: var(--rosa-hiddencode);
    width: 100%;
    padding: 30px;
    border: 6px solid;
    border-radius: 20px;
    justify-content: space-around;
}

.caixa-dos-cases {
    background-image: url(imagens/elementos-esquerda-2.png),url(imagens/decoracao-historia-cases-esquerda.png),url(imagens/decoracao-historia-cases-direita.png);
    background-repeat: no-repeat;
    background-size: 29%,11%,15%;
    background-position-x: 0%,39%,103%;
    background-position-y: -30%,32%,78%;
}


.icone-case-e-sinopse {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.sinopse-cases {

    flex-direction: row;

    overflow-x: auto;
    scroll-snap-type: x mandatory;

    width: 320px;


}


.sinopse-cases > div.oncinha {
  display: flex;
  flex-shrink: 0;
    
  width: 230px;
  height: 400px;
    
  scroll-snap-align: start;
  scroll-behavior: smooth;
    
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.sinopse-cases img {
    width: 50%;
}

.sinopse-cases textarea {
    display: flex;
    max-width: 300px;
    margin: 30px 0px;
}

.sinopse-cases textarea {
    border: 2px solid #000000;
    border-radius: 20px;
    color: black;
    font-family: 'Bruno';
    font-size: 16px;
    padding: 5px 0px 5px 5px;
    resize: none;
    height: 100%;
}

.oncinha {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10;
}




.historia {
    border: 2px solid #fe1064;
    display: flex;
    width: 60%;
    flex-direction: column;
    height: 100%;
    border-radius: 20px;
    background-color: #ffffff;
}

.historia #case {
    width: 100%;
    height: 96%;
    padding: 24px;
    border: none;
    resize: none;
    font-size: 16px;
    font-family: 'Bruno';
    outline: none;
    box-shadow: 0 0 0 0 transparent;
}

textarea#case {
    text-decoration: none;
}


.titulo-historia {
    background-color: white;
    height: 30%;
    border-radius: 17px;
}


.titulo-historia h2 {
    color: #040001;
}

.titulo-do-case {
    width: 100%;
    height: 0;

    border: #000000;
    color: #000000;

    display: flex;

    margin: 0px;
}

.convite-portfolio {
    display: flex;
    align-items: center;
    margin: 4% 0% 6.685%;
    max-height: 90px;
    width: 100%;
    justify-content: space-around;
}

.caixa-do-convite {
    height: 90px;

}

.caixa-do-convite p {
    font-family: 'kdam thmor pro';
    font-size: 24px;
  
    padding: 20px;

    border: 6px solid #fe1064;
    border-radius: 100px;

    height: 100%;

    display: flex;
    align-items: center;
}


.ir {
    display: flex;
    justify-content: center;
    align-items: center;

    
    border: 6px solid #fe1064;
    border-radius: 50px;

    font-family:'kdam thmor pro' ;
    font-size: 24px;

    width: 0%;
    height: 90px;

    padding: 0px 40px;

    text-transform: uppercase;
}

section#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#contato h2 {
    height: 100%;
    margin: 23% 0px 2% 0px;
    display: flex;
    align-items: flex-end;
}

#contato form {
    margin: 0px 2.633%;
    padding: 2% 0;
    display: flex;
    border: 6px solid var(--rosa-hiddencode);
    border-radius: 20px;
    color: #040001;
    font-family:'Bruno';
    background-color: #f5f5f7;
    width: 95%;
    flex-direction: column;
    align-items: center;
}


#contato form {
    background-image: url(imagens/quadradinho-formulario.png),url(imagens/listrinhas-formulario.png);
    background-repeat: no-repeat;
    background-size: 13%,18%;
    background-position-x: 3%,102%;
    background-position-y: 49%,110%;
}


#contato form label {
    margin-bottom: 2px;
    font-size: 17px;
    margin-left: 15px;
}



.campo {
    width: 60%;

    margin-bottom: 50px;

    text-align: left;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo input {
    height: 60px;
    color: black;
    /* background-color: #351868; */
    /* border: solid; */
    border: 6px solid #fe1064;
    outline: none;
    text-indent: 10px;

    /* fonte da caixa de texto */
    /* font-family: 'Bruno'; */

    font-size: 24px;
    border-radius: 28px;
}

/* essas linha serão usadas após a inplementação dos elementos de JAVASCRIPT  */

.campo-textarea {
    width: 60%;

    margin-bottom: 30px;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo-textarea textarea {
    color: black;
    border: 6px solid #FE1062;
    border-radius: 20px;
    padding: 5px 20px;

    /* fonte da caixa de texto */
    /* font-family: 'kdam thmor pro'; */

    font-size: 24px;
    outline: none;
    resize: none;
}

.campo input:focus, .campo-textarea textarea:focus {
    outline: 2px solid var(--laranja-gamifica);
}


#contato form button {
    display: flex;

    height: 40px;
    width: auto;

    padding-block: 10px;
    padding-inline: 20px;

    font-family: 'Bruno';
    font-size: 17px;


    background-color: var(--rosa-hiddencode);
    color: white;

    border: none;
    border-radius: 20px;

    text-transform: uppercase;

    cursor: pointer;

    transition: background-color 500ms ease;
}

#contato button:hover {
    background-color:#b30044;
}

#contato form input::placeholder,
#contato form textarea::placeholder {
    color: #b9b9b9;
} 



.opcoes {
    width: 60%;
    display:flex;
    justify-content:space-between;
}

.opcoes img {
    width: 51.8;
    padding: 0px;
}

.opcoes a {
    display: flex;
    align-items:center;
    justify-content: center;

    border:6px solid #fe1064;
    border-radius:100px;

    padding:20px;

    cursor: pointer;

    transition: border 500ms ease;
}

.opcoes a:hover {
    border:6px solid #b30044;
}




#feedback h2 {
    height: 100%;
    margin: 0px 0px 20px 0px;
    display: flex;
    align-items: flex-end;
}


#feedback form {
    margin: 0px 2.633%;
    padding: 30px 0;
    display: flex;
    border: 6px solid var(--rosa-hiddencode);
    border-radius: 20px;
    color: #040001;
    font-family:'Bruno';
    flex-direction: column;
    align-items: center;
    background-color: f5f5f7;
    margin-bottom: 3%;
}

#feedback form label {
    margin-bottom: 2px;
    font-size: 17px;
    margin-left: 15px;
}

.campo-de-nome {
    width: 90%;
    margin-bottom: 50px;
    text-align: left;
    display: flex;
}

.campo-nome-usuario {
    font-size: 16px;
}

.nome-de-usuario {
    display: flex;
    flex-direction: column;
    width: 40%;
}



input#nome-usuario {
    width: 85%;
    height: 60px;
    color: black;
    border: 4px solid #fe1064;
    outline: none;
    text-indent: 10px;
    font-size: 24px;
    border-radius: 15px;
}


.email-de-usuario {
    display: flex;
    width: 64%;
    flex-direction: column;
}

input#email {
    width: 100%;
    height: 60px;
    color: black;
    border: 4px solid #fe1064;
    outline: none;
    text-indent: 10px;
    font-size: 24px;
    border-radius: 15px;
}

/* essas linha serão usadas após a inplementação dos elementos de JAVASCRIPT  */

.campo-area-de-texto {
    position: relative;

    width: 90%;

    margin-bottom: 30px;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

img#quadradinho{

    position: absolute;
    right: -5%;
    bottom: -28%;
    padding: 0px;
    width: 12%
}

.campo-area-de-texto textarea {
    color: black;
    border: 4px solid #FE1062;
    border-radius: 15px;
    padding: 1% 6% 1% 1%;

    font-size: 24px;
    outline: none;
    resize: none;
}

.campo-de-nome input:focus, .campo-area-de-texto textarea:focus {
    outline: 2px solid var(--laranja-gamifica);
}


#feedback form button {
    display: flex;

    height: 40px;
    width: auto;

    padding-block: 10px;
    padding-inline: 20px;

    font-family: 'Bruno';
    font-size: 17px;


    background-color: var(--rosa-hiddencode);
    color: white;

    border: none;
    border-radius: 20px;

    text-transform: uppercase;

    cursor: pointer;

    transition: background-color 500ms ease;
}

#feedback button:hover {
    background-color:#b30044;
}

#feedback form input::placeholder,
#feedback form textarea::placeholder {
    color: #b9b9b9;
} 


footer {
    height: 50%;
    background-color: #f5f5f7;
}

footer .container-grid{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociais {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.redes-sociais p {
    margin: 1%;
    display: flex;
    color: #6f6f6f;
    font-family: 'bruno';
    font-size: 24px;
    justify-content: center;
}

.icones-redes {
    margin: 1%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icones-redes a {
    color: #fe1064;
    border: 6px solid black;
    border-radius: 58%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

@media screen and (max-width: 1300px) {
    
    header div.container-grid {
    align-items: center;
    display: flex;
    justify-content: space-between;
    }

    container-grid{
        width:100%;
    }
    
    header {
        position: relative;
        background-color:#d9d9d9;
        width: 100%;
        display:flex;
    }
    
    header button {
        display: unset;
        background: none;
        border: none;
        width: 10.3%;
        height: 48.32%;
        margin: 0px 10%;
    }


    header img {
        position:relative;

    }
    
    nav.menu {
        height: 500px;
        width: 350px;
        padding: 0px 30px;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        background-color: #000000f0;
        position: absolute;
        top: 165px;
        right: 0px;
    }
    #sobre {
        padding: 100px 15%;
    }
    .card {
        height: 320px;
        width: 200px;
    }

    header div.container-grid {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .menu {
        width: 900px;
    
        display: flex;
        justify-content: space-between;
    }
}


@media screen and (max-width: 1080px) {
    .container-cards {
        flex-wrap: wrap;
    }
    .card {
        height: 400px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 40%;
    }
    footer {
        height: unset;
    }

    footer .container-grid {
    height: 50%;
    }

    footer img {
        margin-bottom: 100px;
    }

    footer p {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }
    
    .redes-sociais {
        align-items: center;
    }

    .convite-portfolio {
        display: flex;
        align-items: center;
        margin: 4% 0% 6.685%;
        max-height: 90px;
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }
    
    .caixa-do-convite {
        height: 90px;
        width: 91%;
        margin: 10;
    }
    
    .caixa-do-convite p {
        font-family: 'kdam thmor pro';
        font-size: 24px;
        padding: 11px;
        border: 6px solid #fe1064;
        border-radius: 100px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    
    .ir {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 6px solid #fe1064;
        border-radius: 50px;
        font-family:'kdam thmor pro';
        font-size: 24px;
        width: 15%;
        height: 90px;
        padding: 0px 40px;
        text-transform: uppercase;
    }
    
}


@media screen and (max-width: 800px) {
    .card {
        flex-basis: 45%;
    }

    .convite-portfolio {
        display: flex;
        align-items: center;
        margin: 4% 0% 6.685%;
        max-height: 90px;
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }
    
    .caixa-do-convite {
        height: 90px;
        width: 91%;
        margin: 10;
    }
    
    .caixa-do-convite p {
        font-family: 'kdam thmor pro';
        font-size: 24px;
        padding: 11px;
        border: 6px solid #fe1064;
        border-radius: 100px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    
    .ir {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 6px solid #fe1064;
        border-radius: 50px;
        font-family:'kdam thmor pro';
        font-size: 24px;
        width: 0%;
        height: 90px;
        padding: 0px 40px;
        text-transform: uppercase;
    }
    
}

@media screen and (max-width: 780px) {
    body {
        width:780px;
    }
   
    .container-grid img {
        margin: 0 80;
        width: 12%;
    }

    .container-grid svg {
       width:80; 
       height:80; 
    }
    
    .sobre p {
        width:100%;
    }

    .menu a {
        width:100%;
    }  

    .historia {
        background:transparent;   

        border:none;
        
        border-left:4px solid #040001;
        border-radius:0;

        display: flex;
        flex-shrink: 0;
        width: 300;
        height:100%;
        scroll-snap-align: start;
        scroll-behavior: smooth;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        
    }

    .titulo-historia {
        display:flex;

        align-items:center;
        
        background-color:transparent;
    }

    .titulo-historia h2 {
        margin:0;
        
    }

    .explicacao-case textarea {
        background-color:transparent;
    }


    .sinopse-cases {
        display: flex;
        overflow-y: auto;
        height: 270px;   
        flex-direction:column;  
      }
  
      
      .sinopse-cases > div.oncinha {
        display: flex;
        flex-shrink: 0;
        width:100%;  
        height: auto;
        scroll-snap-align: start;
        scroll-behavior: smooth;
        justify-content: center;
        align-items: center;
        font-size: 24px;
      }
  
      .icone-case-e-sinopse {
        flex-direction: column;
      }
      
      .oncinha {
        margin: 10 0;
      }
  
      .icone-case-e-sinopse img {
          position:relative;
          top: 73px;
          width:80%;
      }  
  
      .icone-case-e-sinopse img:first-child {
          position:relative;
          top: 15px;
          width:80%;
      }  
  
      .icone-case-e-sinopse textarea  {
          visibility:hidden;
          height:0;
  
          margin:0;
      }
  
      div.icones-redes svg {
          width:80%;
      }

    .caixa-do-convite {
        height: 90px;
        width: 91%;
        margin: 10;
    }



    .convite-portfolio {
        display: flex;
        align-items: center;
        margin: 4% 0% 6.685%;
        max-height: 90px;
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }
    
    .caixa-do-convite {
        height: 90px;
        width: 91%;
        margin: 10;
    }
    
    .caixa-do-convite p {
        font-family: 'kdam thmor pro';
        font-size: 24px;
        padding: 11px;
        border: 6px solid #fe1064;
        border-radius: 100px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    
    .ir {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 6px solid #fe1064;
        border-radius: 50px;
        font-family:'kdam thmor pro';
        font-size: 24px;
        width: 0%;
        height: 90px;
        padding: 0px 40px;
        text-transform: uppercase;
    }
    

}

@media screen and (max-width: 700px) {
    #sobre {
        height: unset;
        margin-bottom: 40px;
    }
    #sobre h2 {
        margin-bottom: 50px;
    }
    #sobre p {
        margin-bottom: 30px;
    }
    #cases, #contato {
        margin-bottom: unset;
    }
    #portfolio a {
        width: 100%;
        text-align: center;
    }
    .campo, .campo-textarea, #contato form button {
        width: 75%;
    }    
}


@media screen and (max-width: 520px) {
    .container-grid {
        width: 90%;
    }
    header img {
        width: 200px;
    }
    .banner {
        background-size: cover;
    }
    .conteudo-banner p {
        font-size: 24px;
    }

    nav.menu {
        width: 100%;

        display: none;
    }

    #sobre {
        padding-left: 0px;
        padding-right: 0px;
    }

    #sobre p {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    #cases.container-grid {
        width: 100%;
        margin: unset;
    }

    .container-cards {
        flex-wrap: nowrap;

        gap: 40px;

        overflow-x: auto;
    }

    .card {
        height: 400px;
        width: 280px;        

        flex-basis: unset;
    }

    .card:first-child {
        margin-left: 30px;
    }

    .card:last-child {
        margin-right: 30px;
    }

    #portfolio {
        margin-bottom: 0;
    }

    #contato {
        padding-top: 150px;

    }

    #contato h2 {
        margin-bottom: 0px;
    }

    #contato form {
        width: 100%;
        border-radius: 0;
    }
}

@media screen and (max-width: 400px)
{

    header img {
        width: 160px;
    }

    header svg {
        width: 40px;
    }

    .conteudo-banner p {
        font-size: 20px;
    }

    .campo-de-nome {
        align-items: flex-end;
    }

    footer img {
        width: 200px;
    } 
}